.course-page {
    width: 100%;
    height: 100%;
}

.course-page .main {
    margin-left: 320px;
    position: relative;
    transition: margin 0.5s ease;
}

.course-page.collapse-side-bar .main{
    margin-left: 65px;
}

.course-page .main .content {
    padding-top: 65px;
    background: #F4F5F7;
}

.course-page .main .title-panel {
    width: 100%;
    height: 80px;
    padding: 20px 30px;
    background: rgba(252,252,252,.89);
    font-size: 30px;
    font-family: "Montserrat";
    font-weight: bold;
}

.course-page .main .body {
    padding: 20px 30px;
}