body {
    font-family: "Raleway";
}

.main {
    font-size: 14px;
    transform: translateY(100px);
}

.header-panel {
    position: fixed;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 0 8px;
    z-index: 10;
    height: 100px;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #E9EAEA;
    letter-spacing: 2px;
}

.header-panel.fixed {
    position: fixed;
    height: 65px;
}

.header-panel.fixed .logo{
    width: 33px;
    height: 50px;
}

.header-panel .nav-bar .nav-item:before {
    content: "•";
    margin-right: 20px;
}

.header-panel .nav-bar .nav-item {
    color: #7f7f7f;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
    font-family: "Raleway";
}

.header-panel .nav-bar .nav-item:hover, 
.header-panel .nav-bar .nav-wrapper.active .nav-item {
    color: #555;
}

.header-panel .search-bar {
    outline: none;
    width: auto;
    margin: 0;
}

.header-panel .search-bar .search-icon {
    background: transparent;
    border: none;
}

.header-panel .search-bar .search-input {
    display: none;
}

.header-panel .menu-button {
    display: none;
}

.header-panel .search-bar .search-icon:hover {
    background: transparent;
}

.cover-photo-panel {
    vertical-align: baseline;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    background-image: url(../resources/images/homepage/cover.jpg);
    background-size: cover;
    background-position: center;
    height: 37.03vw; /* 500px; */
    font-size: 1.11vw; /*15px;*/
}

.categories {
    font-size: 1.11vw;
    text-align: left;
    padding: 2.22vw 0 0 14.81vw;/*30px 0 0 200px;*/
    font-family: "Raleway";
    letter-spacing: 2px;
}

.category {
    font-size: inherit;
    box-sizing: border-box;
    color: white;
    margin: 0.3vw 0 0 0; /*4px 0 0 0;*/
    font-weight: bold;
    height: 3.26vw; /*44px;*/
    line-height: normal;
    cursor: pointer;
    white-space: nowrap;
    font-family: inherit;
}

.category:hover {
    color: #72d5cd;
}

.category-icon {
    margin-right: 1.48vw; /*20px;*/
}

.introduction {
    font-family: "Montserrat";
    letter-spacing: 3px;
    position: absolute;
    top: 11.11vw; /*150px;*/
    right: 11.11vw; /*150px;*/
    text-align: right;
}

.introduction .large {
    font-size: 3.33vw /*45px*/;
    color: white;
    font-weight: 700;
}

.introduction .small {
    font-size: 1.48vw; /*20px*/
    font-weight: normal;
    color: #9f9f9f;
    margin: 1.11vw 0 0; /*15px 0 0;*/
}

.why-select-panel {
    text-align: center;
    overflow: hidden;
    padding: 10px 0px;
}

.why-select-item .image {
    box-sizing: content-box;
    padding: 15px 0;
    width: 130px;
    height: 130px;
    border-radius: 100%;
    border: 3px solid white;
}

.why-select-item  .description{
    width: 80%;
    margin: 0 auto 5px;
    font-family: "Montserrat";
    color: #909090;
}

.why-select-item .title {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    width: 80%;
    margin: 0 auto;
    padding: 0 0 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #292929;
}

.testimonials-panel {
    background-color: #f5f5f5;
    padding: 85px 0 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.testimonials-panel .title {
    color: #292929;
    font-size: 25px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 0 0 30px;
    position: relative;
}

.testimonials-panel .title:after {
    width: 48px;
    border: 0.5px solid #292929;
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.testimonials-panel .wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-left: 70px;
}

.testimonials-panel .text {
    position: relative;
    margin: 20px;
    font-family: "Montserrat";
    font-size: 16px;
    width: 500px;
    color: #9b9b9b;
    display: flex;
    flex-direction: column;
}

.testimonials-panel .text:before {
    display: inline;
    font-size: 114px;
    position: absolute;
    top: -15px;
    left: -80px;
    font-weight: bold;
    content: "\201c";
    font-family: Georgia;
}

.testimonials-panel .content {
    margin: 20px 0;
}

.testimonials-panel .name {
    color: #72d5cd;
    margin-right: 10px;
    display: block;
}

.testimonials-panel .position{
    color: #4d4d4d;
}

.testimonials-panel .image{
    background-image: url(../resources/images/homepage/testimonials.jpg);
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 200px;
    margin-left: 40px;
}



.front-arrow-img:before {
    content: "";
    background: url(../resources/images/homepage/front-arrow.png) no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
    width: 54px;
    height: 50px;
    position: absolute;
    z-index: 1;
    top: 34px;
    left: -37px;
}

