.search-bar {
    display: flex;
    width: 350px;
    height: 30px;
    outline: 1px solid #d9d9d9;
    margin: 0 20px;
}

.search-input {
    font-size: 12px;
    padding: 4px;
    width: 100%;
    border: none;
    outline: none;
}

.search-icon {
    top: 0!important;
    display: flex!important;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #ddd;
    min-width: 30px;
    height: 100%;
    float: right;
    background: #fafafa;
    cursor: pointer;
}

.search-icon:hover {
    background: #ededed;
}